.App {
  width: 100vw;
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.one {
  width: 4%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.one .mainContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1rem;
}

.one .mainContainer .topSection .link,
.one .mainContainer .bottomSection .link {
  margin: 0.5rem;
  display: flex;
  justify-content: center;
}

.fa-search,
.fa-copy,
.fa-github {
  color: gray;
}

.fa-search {
  transform: rotate(90deg);
}

.two {
  width: 15%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.851);
}

.findProject {
  text-align: center;
  padding: 0.5em;
}

.findProject .searchProject {
  padding: 0.1rem;
  background-color: transparent;
  border: 0.1rem solid gray;
  width: 100%;
  color: gray;
}

.matchedProjects .matchedProject {
  padding: 0.1rem;
  cursor: pointer;
  text-align: left;
  max-width: 100%;
  overflow: hidden;
}

.findProject .searchProject::placeholder {
  text-align: center;
}

.three {
  width: 81%;
  height: 100%;
  text-align: center;
  position: relative;
}

@media screen and (max-width: 768px) {
  .one {
    width: 5rem;
  }

  .two {
    position: absolute;
    left: 5rem;
    width: 20rem;
    z-index: 3;
    background-color: rgba(32, 31, 31, 1);
  }

  .three {
    width: 94%;
  }
}
