* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-weight: lighter;
}

body {
  font: 1.5rem "Roboto Mono", monospace;
  height: 100vh;
  color: #fff;
}

ul {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.2rem;
  height: auto;
}
::-webkit-scrollbar-thumb {
  background-color: gray;
}
